header {
	height: 70px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #CCCCCC;
	background: url(/images/logo.png) no-repeat;
	background-position: center left 20px;
	background-size: auto;
}
